body {
  font-family: "Roboto Condensed", sans-serif;
}

.card {
  max-width: 100%;
}

#page-container {
  max-width: 1310px;
  padding: 0;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  color: rgba(3,3,3,.4)
}

/* page-header */

.top-row {
  height: 70px;
  justify-content: space-between;
  text-align: center;
  background-color: #f72210;
}

.bottom-row {
  height: 102px;
  background-color: white;
}

.bottom-row .container {
  max-width: 1310px;
}

.bottom-row .form-inline input {
  width: 90px;
}

/* top-section */

#top-section h4 {
  margin-top: 20px;
}

#top-section h5 {
  font-size: 24px;
  font-weight: 900;
}
.card {
  border: none;
}

.card-body {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 15px;
  padding: 0;
  margin-bottom: 10px;
}

.card-body h5 {
  margin-top: 5px;
  font-family: "Roboto Condensed", sans-serif;
}

#middle-column {
  padding: 0 15px;
}

#debate-top{
  border-top: rgba(220, 220, 220, 1) solid 4px;
  border-bottom: rgba(220, 220, 220, 1) solid 1px;
  padding-bottom: 10px;
  margin-bottom: 2px;
}

#debate-bottom{
  border-bottom: rgba(220, 220, 220, 1) solid 4px;
  border-top: rgba(220, 220, 220, 1) solid 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 2px;
}

.media {
  border-bottom: rgba(220, 220, 220, 1) solid 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#right-column .media-body {
  font-size: 14px;
  font-weight: 600;
  color: #6c757d;
  letter-spacing: -.5px;
  font-family: "Roboto Condensed", sans-serif;
}

#right-column  .media-body h5 {
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0px;
  color: black;
}
.media img {
  width: 63px;
  height: 63px;
}

.opinion :last-child {
  border-bottom: none;
}

/* my turn */ 

#top-section .my-turn h5 {
  margin-top: 10px;
  font-size: 17px;
  color: rgba(3,3,3,.4)
}

.my-turn .card {
  padding-left: 7px;
  padding-right: 7px;
}

.my-turn #card-1 {
  padding-left: 0;
}

.my-turn #card-3 {
  margin-left: 5px;
  padding-right: 0;
}

/* culture */ 

#top-section .culture h5 {
  margin-top: 10px;
  font-size: 17px;
  color: rgba(3,3,3,.4)
}

.culture .card {
  padding-left: 7px;
  padding-right: 7px;
}

.culture #card-1 {
  padding-left: 0;
}

.culture #card-3 {
  margin-left: 5px;
  padding-right: 0;
}

/* more stories */

#top-section .more-stories .media-body {
  font-size: 15px;
  font-family: Arial,Helvetica,sans-serif;
}

#top-section .more-stories .media-body h5 {
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 0px;
  color: black;
}

.more-stories img {
  width: 100px;
  height: 100px;
}

.opinion :last-child {
  border-bottom: none;
}

#top-section .media {
  border-top: rgba(220, 220, 220, 1) solid 1px;
  padding-top: 15px;
  padding-bottom: 20px;
}

/* SPLIT INTO LEFT CENTER RIGHT COLUMNS */

/* sign-up */

.sign-up {
  max-width: 260px;
  padding: 10px 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgray;
}

#right-column .sign-up .media {
  padding: 10px 1px 10px 1px;
  border: none;
}

.sign-up img {
  margin-top: 5px;
  width: 30px;
  height: 30px;
}

.sign-up input {
  width: 90%;
  margin-left: 10px;
  background-color: white;
  border: 1px solid #e0e1e1;
  color: #555;
}
.sign-up button {
  margin-left: 10px;
  width: 90%;
  background-color: #f61602;
}

/* in the magazine / editor's picks*/ 

#in-the-magazine .media {
  border: none;
}

#magazine-header {
  width: 250px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

#magazine-header .media-body {
  margin-top: 3px;
}
#magazine-header img {
  width: 30px;
  height: 30px;
}

#in-the-magazine .articles {
  padding-top: 15px;
  border-top: 1px solid #e0e1e1;
}

#in-the-magazine .articles .card {
  margin-left: 10px;
}

#in-the-magazine .articles .card:first-of-type {
  margin-left: 0px;
}

/* specific-items */

.specific-sections h5 {
  font: bold 16px/16px "Roboto Condensed",sans-serif;
  font-size: 22px;
  padding-top: 25px;
  border-top: 1px solid #e0e1e1;
  color: red;
}